.modal-backdrop {
  z-index: 1040 !important;
}

.modal {
  z-index: 1050 !important;
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  overflow: auto !important;
  outline: 0 !important;
}

.modal-dialog {
  position: relative !important;
  width: auto !important;
  margin: 1.75rem auto !important;
  pointer-events: none !important;
  max-width: 500px !important;
}

.modal-content {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  pointer-events: auto !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid rgba(0,0,0,.2) !important;
  border-radius: .3rem !important;
  outline: 0 !important;
}

.modal-header {
  display: flex !important;
  flex-shrink: 0 !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 1rem 1rem !important;
  border-bottom: 1px solid #dee2e6 !important;
  border-top-left-radius: calc(.3rem - 1px) !important;
  border-top-right-radius: calc(.3rem - 1px) !important;
}

.modal-body {
  position: relative !important;
  flex: 1 1 auto !important;
  padding: 1rem !important;
}

.modal-footer {
  display: flex !important;
  flex-wrap: wrap !important;
  flex-shrink: 0 !important;
  align-items: center !important;
  justify-content: flex-end !important;
  padding: 1rem !important;
  border-top: 1px solid #dee2e6 !important;
  border-bottom-right-radius: calc(.3rem - 1px) !important;
  border-bottom-left-radius: calc(.3rem - 1px) !important;
}

.btn-close {
  box-sizing: content-box !important;
  width: 1em !important;
  height: 1em !important;
  padding: .25em .25em !important;
  color: #000 !important;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 2.293a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat !important;
  border: 0 !important;
  border-radius: .25rem !important;
  opacity: .5 !important;
}

.btn-close:hover {
  color: #000 !important;
  text-decoration: none !important;
  opacity: .75 !important;
}

.btn-close:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25) !important;
  opacity: 1 !important;
}

.btn-close:disabled, .btn-close.disabled {
  opacity: .25 !important;
}

.btn-secondary {
  color: #fff !important;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}