/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Inter', sans-serif;
}

.logo-title {
    /* font-family: 'Luckiest Guy', cursive; */
    font-family: "Chewy", system-ui;
    font-style: normal;
    font-size: 30px;
}

#logo-img {
    width: 80px;
    height: 60px;
}

/* .container-logo {
    background: linear-gradient(to right, #6b7079, #696262);
    border-radius: 45%;
} */

/* .logo-gold {
    color: #c7b563;
} */

/* .chewy-regular {
  font-family: "Chewy", system-ui;

} */